
/* Assurez-vous que le contenu de la page occupe tout l'espace disponible avant le footer */
body, html {
    height: 100%;
    margin: 0;
}

.main-container-admin {
    min-height: 100%; /* S'assure que la section principale prend toute la hauteur disponible */
    padding-bottom: 80px; /* Réserve de l'espace pour le footer */
    box-sizing: border-box; /* Inclut le padding dans la hauteur totale */
}

.footer {
/* <<<<<<< HEAD */
    height: 80px; /* Hauteur du footer */
    position: relative;
/* =======
>>>>>>> 93299900fd9450475a92b25f43675253fca548e5 */
    width: 100%;
    bottom: 0;
    background-color: #f8f9fa; /* Exemple de couleur pour le footer */
    text-align: center;
    padding: 20px;
}
